body {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

nav {
  margin-bottom: 20px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

nav ul {
  padding: 0;
  list-style: none;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul li {
  display: inline;
  padding: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  margin: 20px auto;
  overflow: hidden;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1, h2 {
  color: #333;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="email"],
form input[type="text"],
form input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="text"] {
  padding: 8px;
  margin-right: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 16px;
  background: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #4cae4c;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.auth-links {
  margin-top: 20px;
}

.auth-links a {
  margin-right: 10px;
  color: #007bff;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 8px;
}

/* Styles for TermItem */
.term-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.term-item h3 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #007bff; /* Пример цвета для заголовка термина */
}

/* Styles for TermPage */
.term-section {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-bottom: 20px; /* Добавляем отступ снизу */
}

.term-section h2 {
    margin-top: 0;
    color: #0056b3; /* Пример цвета для заголовков секций */
} 